[submodule "submodules/zfsonlinux"]
	path = submodules/zfsonlinux
	url = https://github.com/openzfs/zfs.git
[submodule "submodules/ubuntu-kernel"]
	path = submodules/ubuntu-kernel
	url = git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
